<% if logged_in?(:site_admin) %>
   <nav class="breadcrumb portcrumb">
     <%= link_to fa_icon('trash'), @collection, method: :delete, data: { confirm: 'Are you sure?' } %>
     <%= link_to fa_icon('pencil-square-o'), edit_collection_path(@collection) %>

   </nav>
 <% end %>
