<div class="col-md-4 card-box">
  <div class="card mb-4 box-shadow" data-id="<%= collection.id %>">
    <div class="card-body">
      <p class="card-text text-center">
        <span><%= link_to collection.title, collection_path(collection) %></span>
      </p>
    </div>
  </div>
</div>
