<div class="masthead clearfix">
   <div class="inner">
     <h3 class="masthead-brand">Homecoming Spirit</h3>
     <nav class="nav nav-masthead">

       <%= link_to "Portfolio", portfolios_path, class: 'nav-link' %>
       <%= login_helper 'nav-link' %>
     </nav>
   </div>
 </div>
