<header>
  <div class="collapse bg-light" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="about-section">About</h4>
          <p class="text-muted">HEY ERIN!  This info will be not change unless you as me to change it.  What would you like it to say</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="about-section">Contact</h4>
          <div class="list-unstyled social-links">
            <a href=""><%= fa_icon "instagram" %></a>
            <a href=""><%= fa_icon "facebook-square" %></a>
            <a href=""><%= fa_icon "envelope-square" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-light bg-light box-shadow">
    <div class="container d-flex justify-content-between">
      <div class="navbar-brand d-flex align-items-center">

        <strong class="title-spot">Homecoming Spirit</strong>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
