<header>
  <div class="collapse bg-light" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="about-section">About</h4>
          <p class="text-muted">HEY ERIN!  What would you like this little "about me" section to say?</p>
        </div>
        <div class="col-sm-2 offset-md-3 py-4">
          <h4 class="about-section">Contact</h4>
          <div class="list-unstyled social-links float-center">
            <a href="https://www.instagram.com/wildthunder/" target="_blank"><%= fa_icon "instagram" %></a>
            <a href="mailto:erinistoughenough.com?" target="_top"><%= fa_icon "envelope-square" %></a>
          </div>
          <%= link_to "Add New Image", new_portfolio_url if logged_in?(:site_admin) %>
          <%= login_helper 'nav-link' %>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-light bg-light box-shadow">
    <div class="container d-flex justify-content-between">
      <div class="navbar-brand d-flex align-items-center">

        <strong class="nav-title-spot"></strong>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
