<footer class="text-muted">
  <div class="container">
    <p class="float-right">
        <%= link_to "View All Collections", collections_path %>
    </p>
    <p class="copyright">copyright 2018 Homecoming Spirit</p>
  </div>
</footer>
