<div class="container-about text-center">
  <h4 class="about-header">About</h4>
  <p class="about-body">
    EB is a traveling artist who’s work includes murals, illustration, installation, writing and cooking. Working from the Midwest currently but always willing to travel for large jobs, do freelance work from afar, or make you a perfect fried egg sandwich. You tell me
  </p>
</div>
