<div class="container-contact">
  <h4 class="contact-title text-center">Contact</h4>
  <div class="box-container">

    <div class="mail-box text-center">
      <a href="mailto:erinistoughenough@gmail.com?subject=PortfolioContact">
      <h4 class="contact-header"><u>Email</u></h4>
      erinistoughenough@gmail.com <%= fa_icon "envelope" %></a>
    </div>

    <div class="instagram-box text-center">
      <a href="https://www.instagram.com/wildthunder/" target="_blank">
      <h4 class="contact-header"><u>Instagram</u></h4>
      wildthunder <%= fa_icon "instagram" %></a>
    </div>

  </div>
</div>
