@import "bootstrap";
@import "jquery-ui";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "gritter";



/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    font-family: 'Poiret One', cursive;
    text-decoration: none;
}

a {color:rgb(100, 99, 105);}      /* unvisited link */
a:visited {color:rgb(100, 99, 105);}  /* visited link */
a:hover {color:rgb(202, 247, 212);}  /* mouse over link */
a:active {color:rgb(100, 99, 105);}  /* selected link */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */


html,
body {
  height: 100%;
  background-color: #ffff;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}


// .background-alpha {
//   background-image: image-url("");
//   background-size: cover;
//   background-repeat: no-repeat;
// }


.container-about, .container-contact{
  margin: 10vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border: 1px solid grey;
  background-color: white;
}

.box-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-header, .contact-header{
color: grey;
font-family: 'Poiret One', cursive !important;
}
.contact-title{
  padding: 3vw;
  color: grey;
  font-family: 'Poiret One', cursive !important;
}

.about-body {
  color: grey;
  font-family: 'Poiret One', cursive !important;
  margin: 3vw 10vw;
}


.instagram-box, .mail-box{
  width: 40%;
  border: 1px solid grey;
  padding: 3vw 0vw;
}

.login{
  color: white !important;
}


.navbar {
  background-color: white;
}
