@import "bootstrap";
@import "jquery-ui";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "gritter";


/*
font-family: 'Amatic SC', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Monoton', cursive;
font-family: 'Julius Sans One', sans-serif;
*/


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Custom styles
 */



.social-links {
  font-size: 2.5em;
}

a {color:rgb(100, 99, 105);}      /* unvisited link */
a:visited {color:rgb(100, 99, 105);}  /* visited link */
a:hover {color:rgb(202, 247, 212);}  /* mouse over link */
a:active {color:rgb(100, 99, 105);}  /* selected link */

.portfolio-form {
   padding: 20px;
}

a, a:hover{
  font-family: 'Poiret One', cursive;
  text-decoration: none;
}

.card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-body{
  font-family: 'Poiret One', cursive;
}

.about-section{
  font-family: 'Poiret One', cursive;
}

.nav-title-spot{
  font-family: 'Poiret One', cursive;
}

.title-spot{
  font-family: 'Monoton', cursive;
  font-weight: lighter;
  font-size: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}


.single-image-title{
    font-family: 'Poiret One', cursive;
}

.single-image-subtitle{
  font-family: 'Poiret One', cursive;
}

.single-image-body{
  font-family: 'Julius Sans One', sans-serif;
}

.copyright{
  font-family: 'Julius Sans One', sans-serif;
}

.portfolio-form {
  padding-top: 40px;
}


.portcrumb a {
  font-size: 1.25em;
  margin: 0px 10px 0px 10px;
}


.card img {
  width: 100%; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}

.back-arrow{
  font-size: 4vw;
}

.polaroid {
  padding-top: 15px;
  margin-top: 3vw;
}

.carousel-inner img {
     width: 100%;
 }

 .collection-title{
   color: grey;
   font-family: 'Monoton', cursive;
   border-top: 1px solid grey;
   border-bottom: 1px solid grey;
   margin-top: 3vw;
 }

 .collection-descrtiption {
   color: grey;
   font-family: 'Poiret One', cursive;
   padding: 2vw;
 }

 .login{
   color: white !important;
 }
